# ignore all files starting with . or ~
.*
~*

# ignore these vim files
Session.vim
/spell

# --------------------------------------------------------
# BEGIN Explictly Allowed Files (i.e. do NOT ignore these)
# --------------------------------------------------------

# track these files, if they exist
!.editorconfig
!.gitignore
